body {
    margin: 0;
}

.flex-display {
    display: flex;
}

/* Nav bar style approach-1 USING NORMAL CSS: For Simple Static sites*/
/* nav {
    background-color: whitesmoke;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
} */

/* Nav bar style approach-2 USING FLEXBOX: Offers better alignment control*/
.nav-bar {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    color: maroon;
}

#welcome, #aboutme, #skillset, #portfolio, #contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    height: 81vh;
    margin: 20px;
    box-shadow: 0 0 10px maroon;
    padding: 4px;
}

#welcome-header, #aboutme-header, #skillset-header, #portfolio-header, #contact-header {
    width: 40rem;
    text-align: center;
}

.active {
    color: maroon;
    font-weight: bold;
}

.input-style {
    width: 250px;
    height: 37px;
}

.text-area-style {
    width: 500px;
    height: 150px;
}

.button-style {
    width: 150px;
    height: 50px;
    background-color: antiquewhite;
    font-weight: 100;
}

#footer{
    background-color: #39454b;
    color: rgba(185, 186, 187, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: flex-start;
}

ul.icons {
    list-style: none;
}
/* Nav bar styling approach-3 USING CSS GRID: Offers better alignment control*/
/* nav {
    background-color: whitesmoke;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 60px 60px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
} */

/* Nav bar styling approach-4 STICKY NAVIGATION BAR: Keeps navigation visible when scrolling */
/* nav {
    background-color: whitesmoke;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
} */

/* Nav bar styling approach-5 RESPONSIVE NAVIGATION BAR: Mobile friendly */
/* Nav bar styling approach-5 USING BOOTSTRAP: Quick, Professional and feature-rich */



